{% extends 'base.html' %}

{% block title %}User Info{% endblock %}}

{% block content %}

<div class="row">

  <div class="col-sm-10 col-12">

    <h2>User Info</h2>
    <form action="/users/{{user.username}}/delete" method="POST">
      <button class="btn btn-danger btn-sm mb-3">Delete User</button>
    </form>
    
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
    </ul>

    <h2 class="mt-4">Feedback</h2>

    <ul>
        {% for feedback in user.feedback %}

        <li>
          {{feedback.title}}
          <br>
          <i>{{feedback.content}}</i>
        </li>
      
   

       
        <div class="d-inline">
          <a href="/feedback/{{feedback.id}}/update" class="btn btn-success btn-sm">Edit</a>
          <form action="/feedback/{{ feedback.id }}/delete" method="POST">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      
        
          {% endfor %}
        </ul>
    

    <form method="POST">
      <a href="/users/{{ user.username }}/feedback/add" class="btn btn-primary">Add new feedback</a>
    </form>
      

    

  </div>
</div>

{% endblock %}